<div>
    <%= image_tag @application.image unless @application.image.nil? %>
    <h1><%= @application.title %></h1>
    <em><%= @application.subtitle %></em>
    <p><%= @application.body %></p>
    <%= link_to "Edit Application", edit_application_path(@application) %>
    <%= link_to "Delete Application", @application, method: :delete, data: { confirm: "Are you sure" } %>
    <h2>Tech Used</h2>
    <% @application.technologies.each do |tech| %>
    	<p> <%= tech.name %> </p>
	<% end %>
</div>